.titulo_soft {
    background: var(--degrade-titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.titulos_paragrafos {
    background: var(--degrade-titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.desc_soft {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-secundaria);
    font-size: 20px;
}


.soft_lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: var(--fonte-url);
    color: var(--cor-secundaria);
    
}

.soft_ind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-secundaria);
    font-weight: 300;
    border: 4px solid var(--cor-secundaria);
    border-radius: 0.6em;
    width: 13em;
    height: 10px;
    }


.botao_soft_skills {
    display: flex;
    font-family: var(--fonte-url);
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    color: #fff;
    width: 210px;
    height: 3.3em;
    border: none;
    cursor: pointer;
    gap: 9px;
}

.hide {
    display: none;
   
    }
.texto_atributo_html, .texto_atributo_css, .texto_atributo_sql, 
.texto_atributo_aws, 
.texto_atributo_js, .texto_atributo_html {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;

}

.hidden {
    display: none;
}



@media screen and (max-width:738px) {
    
    body {
        height: 100vh;
        width: 100vw;
        background-image: var(--degrade-fundo);
    }

   
    
    #busca_hard_skills {
        background: var(--degrade-fundo);
        
    }

    #busca_soft_skills{
        margin-top: 3em;
        padding: 0;
    }

    }
    .texto_apresentacao {
        display: flex;
        justify-content: center;
        margin-left: 1.3em;
        padding: 1em;
    }

 
     .desc_soft {
        text-align: center;
        margin-left: 1em;

    }
 
    
    .soft_ind{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--cor-secundaria);
        border: 2px solid var(--cor-terciaria);
        border-radius: 4px;
        padding: 1.2%;
        width: 200px;
        height: 2em;
        gap: 10px;
        transition: 0.5s;
    }
    
    .lista_item_link {
        display: flex;
        justify-content: center;
        width: 100%;
        
    }

    .texto_atributo_html, .texto_atributo_css, .texto_atributo_sql, 
.texto_atributo_aws, 
.texto_atributo_js, .texto_atributo_html {
    display: none;
}

    .home {
        display: none;
    }

  
    
    .swiper-slide{
        display: flex;
        justify-content: center;
        margin-left: 3em;
        gap: 1em;
    }

    footer{
        margin-left: 1.5em;
    }
    
