#cabecalho {
    color: var(--cor-terciaria);
    font-size: 40px;
}




strong {
    color: var(--cor-terciaria);
}


.content {
    padding: 7%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


section {
    display: flex;
    flex-direction: column;
    color: var(--cor-secundaria);
    font-family: 'Cabin', sans-serif;
    width: 660px;

}

.links_subtitulo {
        font-family: 'Krona  One', sans-serif;
        font-weight: 300;
        font-size: 20px;

}

.links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.links_ind {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 9px;
    color: var(--cor-secundaria);
    border: 2px solid rgb(53, 92, 125);;
    width: 250px;
    gap: 10px;
    transition: 0.5s;
}

.links_ind:hover {
   background-color: rgb(53, 92, 125);
}

.return_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 59em;
    width: 3em;
    border: none;
    transition: 0.5s;
}

.return_button:hover {
    transform: scale(1.2);
}
/*atributos do mobile */
.navbar_mobile {
    display: none;
}

.content_mobile {
    display: none;
}



@media screen and (max-width: 730px) {
  
}